.container{
	background-color: #F7F7F7;
}

img {
	width: 100%;
}
.row.mh {
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: right;
}

.row.buscador{
	margin-bottom: 10px;
}

.row.ah{
	background-color: #c51426;
	width: 1140px;
	margin-left: 0;
}


