.container{
	background-color: #F7F7F7;
}

img {
	width: 100%;
}
.row.mh {
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: right;
}

.row.buscador{
	margin-bottom: 10px;
}

.row.ah{
	background-color: #c51426;
	width: 1140px;
	margin-left: 0;
}

h1{
	color: #274365;
}

.row.letrin{
	color: #666;
  	font-family: helvetica;
  	font-size: 13px; 
}

.texto-foto{
	color: #333;
  	background-color: #c9c8c8;
  	font-size: 12px;
  	padding: 6px;
  	width: 848px;
  	display: block;
  	margin-bottom: 20px;
}

.barrarecientever{
	background-color: #efb4b4;
	padding: 5px;
	margin-bottom: 15px;
}

.row.recientenoti{
	background-color: #f5e4e4;
	width: 263px;
	margin-left: 0;
}


.titulodenoticia {
	margin:25px 0px 5px 0px;

}

.lasnoticiasrecientesver{
	padding-bottom: 20px;
}
.row.vhg .btn-default.vh{
	background-color: #FFEE94;
}

.row.masnotrela .cajadeesta{
	width: 189px;
	height: 125px;
	background-color: #ece5a7;
}

.row.masnotrela .mostrarfoto{
	width: 189px;
	height: 90px;
}

.row.masnotrela .elfloro{
	margin:7px 0px 0px 18px;
	font-family: helvetica;

}

.row.elpadre .row.toditomas .masnoticiasvermas{
	width: 270px;
	height: 198px;
	background-color: blue;
}

.row.elpadre .lafotazo{
	width: 270px;
	height: 140px;
	background-color: red;
}

.row.elpadre .pocofloro{
	
}